/* ClientesPage.css */

  .action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px !important;
    height: 24px !important;
    padding: 0;
    font-size: .8rem;
    border-radius: 3px;
    box-shadow: none;
    padding: .25rem .5rem;
  }
  
  .action-button .ant-btn-icon svg { 
    font-size: 1rem;
  }
  /* Estilo para el botón de Editar (amarillo) */
  .action-button.edit {
    background-color: #f8ac59; /* Amarillo */
    border-color: #f8ac59;
    color: #fff;
  }
  
  /* Estilo para el botón de Eliminar (rojo) */
  .action-button.danger {
    background-color: #ff0000; /* Rojo */
    border-color: #ff0000;
    color: white;
  }
  
    /* Estilo para el botón de Eliminar (rojo) */
  .action-button.search {
    background-color: #18a689; /* Rojo */
    border-color: #18a689;
    color: white;
  }
  
  /* Efecto hover */
  .action-button:hover {
    opacity: 0.8;
  }
  
  /* Tooltip personalizados */
  .ant-tooltip-inner {
    background-color: #1890ff;
    color: white;
  }